* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#head-container {
  background-color: #f38e58;
  height: 250px;
  /* height: 25%;  un pourcentage est relatif  toujours préciser un max et un min en pixel pour que l'ecran adapte*/
}

.left-content {
  float: left;
  background-color: red;
  justify-content: flex-start;
  height: 200px;
}
.right-content {
  /* display: flex; */
  /* justify-content: flex-end; */
  background-color: saddlebrown;
  height: 200px;
}
.footer {
  position: relative;
  height: 200px;
  background-color: yellow;
}

/* pour rendre une police responsive on utilise une police en vw= viewport width, et définir une taille min ; si on met la taille en rem la taille sera de xrem*la taille de la police par défaut du body*/
/* La taille en rem est un calcul multipplié par le parent, si pas de font size alors il prendra l'élément de base de la page*/

